@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


/* home page, navbar */
* {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 2px solid rgb(234, 216, 192);
} 

.navbar h2{
  color:#f13566;/*f13566*/
}

.navbar .links{
  /* outline: 1px solid gold; */
  margin-left: auto;

}

.navbar a{
  margin-left: 16px;
  /* outline: 1px solid violet; */
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover{
  color: #f14444
}

.content{
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
  /* outline: 1px solid green; */
}



/* blog-review */
.blog-preview {
  margin: 10px;
  padding: 6px;
  border-bottom: 1px solid rgb(233, 233, 233);
}

.blog-preview:hover{
  box-shadow: 1px 3px 5px rgb(232, 228, 228);
  /* background-color: rgb(242, 242, 242); */
}

.blog-preview h2{
  margin-bottom: 8px;
  color: rgba(222, 70, 70, 0.745);
}

button{
  margin: 9px;
  background-color: beige;
  border: none;
  padding: 9px;
  border-radius: 10px;
}

button:active{
  border: 2px solid palegoldenrod;
}

.blog-preview a{
  text-decoration: none;
}

.blog-details h2, p, div{
  margin: 1rem;
}

.blog-details h2{
  color: indigo;
  font-size: 2.4rem;
}

.blog-details p{
  font-size: 0.8rem ;
}

/* form css */
/* .create form{
  width: 600px;
}

.create, .create form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.create label{
  display: block;
  margin: 1rem auto 0;
  text-align: left;
} */

.create{
  width: 600px;
  margin: 0 auto;
  text-align: center;
  /* outline: 2px solid #f13566; */
  padding: 15px;
  background-color: rgb(255, 249, 249);
  box-shadow: 3px 3px 10px rgba(179, 102, 102, 0.2);
}

.create label{
  display: block;
  margin: 1rem 0 0.4rem;
  text-align: left;
}

.create h2{
  font-size: 2.3rem;
  color:tomato;
  margin-bottom: 2.2rem;
}

.create input,textarea,select{
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0px;
  box-sizing: border-box;
  display: block;
}

.create button{
  background-color: red;
  color: white;
  padding: 10px 62px;
  font-size: 1rem;
  cursor: pointer;
}

.create button:hover{
  background-color: rgb(123, 0, 0);
}

.create button:active{
  font-size: 1.03rem;
}
